.modal-content {
    background-color: #3c763d;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    position: relative;
    color: #fff;
    border-radius: 10px;
    transition: opacity 0.5s ease;
}

.modal-content.hidden {
    opacity: 0;
    pointer-events: none;
}

#fullscreenButton {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: #3c763d; /* Same green as modal */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#fullscreenButton:hover {
    background-color: #ff0000; /* Animation effect */
}

#gameTitle, #playButton {
    display: block;
    margin: 20px auto;
}

#playButton {
    background-color: #3c763d;
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

#playButton.active {
    background-color: #ff0000;
}

.fullscreen {
    background-color: transparent;
    border: none;
}

.fullscreen iframe {
    height: 100vh;
    width: 100vw;
}

.hidden-when-fullscreen {
    display: none;
}
