@font-face {
    font-family: 'Minecraft Fifty Solid';
    src: url('fonts/MinecraftFiftySolid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Basic styling for header, main content, and footer */
header {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 40px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.minecraft-button {
    width: 20px;
    height: 20px;
}

main {
    padding: 20px;
}

h2 {
    text-align: center;
}

.game-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game-card {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    width: 150px;
}

.game-card img {
    width: 100px;
    height: 100px;
}

button {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    color: #333;
    cursor: pointer;
}

.close-button:hover {
    color: red;
}

/* Fullscreen Button Styles */
.fullscreen-button {
    background: none;
    border: none;
    cursor: pointer;
}

.fullscreen-icon {
    width: 20px;
    height: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
